doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Hello, world!
    link(href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="../css/main.css")
  body.font-rubik
    article(class="flex flex-col lg:flex-row-reverse container mx-auto")
      section(class="relative")
        img(class="pb-8" src="../img/illustration-hero.svg" alt="")
      article(class="px-8 max-w-lg text-center self-center lg:-mt-20 lg:text-left")
        h2(class="text-3xl text-black-blue font-medium capitalize leading-tight lg:text-4xl") A simple bookmark <br> manager
        p(class="text-normal text-grayish-blue mt-4") A clean and simple interface to organize your favorite website. Open a new browser tab and see you sites load instantly. Try it for free.
        article.mt-8
          a(class="text-white bg-soft-blue inline-block px-3 py-3 rounded-md hover:bg-white hover:text-soft-blue hover:border-soft-blue border mr-3") Get it on chrome
          a(class="text-black-blue bg-gray inline-block px-3 py-3 rounded-md shadow-xl border border-white hover:border-black-blue hover:bg-white hover:shadow-none") Get it on firefox
    article(class="flex flex-col px-8 mt-32")
      article(class="text-center max-w-xl mx-auto")
        h2(class="text-3xl text-black-blue font-medium capitalize leading-tight lg:text-4xl") Features
        p(class="text-normal text-grayish-blue mt-4") Our aim is to make it quick and easy for you to access your favourite websites. Your bookmarks sync between websites. Your bookmarks sync between your devices so you can access them on the go.
        ul(class="mt-8 pb-3 text-grayish-blue border-soft-gray font-medium flex flex-col lg:flex-row justify-between lg:border-b")
          li(class="border-b border-t border-soft-gray lg:border-0 py-3 text-md hover:text-soft-red cursor-pointer") Simple Bookmarking
          li(class="border-b lg:border-0 border-soft-gray py-3 text-md hover:text-soft-red cursor-pointer") Speedy Searching
          li(class="border-b lg:border-0 border-soft-gray py-3 text-md hover:text-soft-red cursor-pointer") Easy Sharing
    ul
      li(class="mt-16 mx-auto flex flex-col items-center justify-center lg:flex-row px-8")
        article
          img(class="max-w-xs lg:max-w-md" src="../img/illustration-features-tab-1.svg" alt="")
        article(class="mt-10 text-center max-w-sm lg:mt-0 lg:ml-24")
          h2(class="text-3xl text-black-blue font-medium leading-tight lg:text-4xl") Bookmark in one click
          p(class="text-normal text-grayish-blue mt-4") Organize your bookmarks however you like. Our simple drag-and-drop interface gives you complete control over how you manage your favourite sites.
      li(class="mt-16 mx-auto flex flex-col items-center justify-center lg:flex-row px-8 hidden")
        article
          img(class="max-w-xs lg:max-w-md" src="../img/illustration-features-tab-2.svg" alt="")
        article(class="mt-10 text-center max-w-sm lg:mt-0 lg:ml-24")
          h2(class="text-3xl text-black-blue font-medium leading-tight lg:text-4xl") Intelligent search
          p(class="text-normal text-grayish-blue mt-4") Our powerful search feature will help you find saved sites in no time at all. No need to trawl through all of your bookmarks.
      li(class="mt-16 mx-auto flex flex-col items-center justify-center lg:flex-row px-8 hidden")
        article
          img(class="max-w-xs lg:max-w-md" src="../img/illustration-features-tab-3.svg" alt="")
        article(class="mt-10 text-center max-w-sm lg:mt-0 lg:ml-24")
          h2(class="text-3xl text-black-blue font-medium leading-tight lg:text-4xl") Share your bookmarks
          p(class="text-normal text-grayish-blue mt-4") Easily share your bookmarks and collections with others. Create a shareable link that you can send at the click of a button.
    section(class="mt-48 px-8 text-center")
      h2(class="text-3xl text-black-blue font-medium leading-tight lg:text-4xl") Download the extension
      p(class="text-normal text-grayish-blue mt-4") We've got more browsers in the pipeline. Please do let us know if <br class="hidden md:block"> you've got a favourite you'd like us to prioritize.
      ul(class="mt-16 lg:mt-0 flex flex-col lg:flex-row items-center justify-center")
        li(class="bg-white shadow-xl max-w-xs pt-16 pb-4 text-center")
          img(class="mx-auto" src="../img/logo-chrome.svg" alt="")
          h4(class="mt-6 text-xl font-medium text-black-blue") Add to Chrome
          p(class="mt-2 text-sm text-grayish-blue") Minimum version 62
          footer(class="mt-16")
            img(class="mb-6 w-full" src="../img/bg-dots.svg")
            a(class="text-white bg-soft-blue inline-block px-3 py-3 border rounded-md hover:bg-white hover:text-soft-blue hover:border-soft-blue cursor-pointer") Add & Install Extension
        li(class="bg-white shadow-xl max-w-xs pt-16 pb-4 text-center mt-8 lg:ml-8 lg:mt-16")
          img(class="mx-auto" src="../img/logo-firefox.svg" alt="")
          h4(class="mt-6 text-xl font-medium text-black-blue") Add to Firefox
          p(class="mt-2 text-sm text-grayish-blue") Minimum version 55
          footer(class="mt-16")
            img(class="mb-6 w-full" src="../img/bg-dots.svg")
            a(class="text-white bg-soft-blue inline-block px-3 py-3 border rounded-md hover:bg-white hover:text-soft-blue hover:border-soft-blue cursor-pointer") Add & Install Extension
        li(class="bg-white shadow-xl max-w-xs pt-16 pb-4 text-center mt-8 lg:ml-8 lg:mt-32")
          img(class="mx-auto" src="../img/logo-opera.svg" alt="")
          h4(class="mt-6 text-xl font-medium text-black-blue") Add to Opera
          p(class="mt-2 text-sm text-grayish-blue") Minimum version 46
          footer(class="mt-16")
            img(class="mb-6 w-full" src="../img/bg-dots.svg")
            a(class="text-white bg-soft-blue inline-block px-3 py-3 border rounded-md hover:bg-white hover:text-soft-blue hover:border-soft-blue cursor-pointer") Add & Install Extension
