doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Hello, world!
    link(href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="../css/main.css")
  body.font-rubik
    article(class="flex flex-col lg:flex-row-reverse container mx-auto")
      section(class="relative")
        img(class="pb-8" src="../img/illustration-hero.svg" alt="")
      article(class="px-8 max-w-lg text-center self-center lg:-mt-20 lg:text-left")
        h2(class="text-3xl text-black-blue font-medium capitalize leading-tight lg:text-4xl") A simple bookmark <br> manager
        p(class="text-normal text-grayish-blue mt-4") A clean and simple interface to organize your favorite website. Open a new browser tab and see you sites load instantly. Try it for free.
        article.mt-8
          a(class="text-white bg-soft-blue inline-block px-3 py-3 rounded-md hover:bg-white hover:text-soft-blue hover:border-soft-blue border mr-3") Get it on chrome
          a(class="text-black-blue bg-gray inline-block px-3 py-3 rounded-md shadow-xl border border-white hover:border-black-blue hover:bg-white hover:shadow-none") Get it on firefox
